body {
    background: url("../images/avengers-endgame-logo-minimalist-uhdpaper.com-8K-70.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}   

.jumbotron  {
    margin-top: 100px;
    opacity: 0.9;
}

.jumbotron h1 {
    font-family: 'Bowlby One SC', cursive;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    background-color: white;
    opacity: 0.9;
}