body {
    background: url("../images/avengers-endgame-logo-minimalist-uhdpaper.com-8K-70.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}   